html * {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  width: 9.375rem;
}

#hdr {
  display: inline-block;
  text-align: center;
  width: 55%;
  font-size: 1.25rem;
}

nav {
  background: #000;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
  padding: 0.05rem;
  width: 80%;
}

.menu {
  display: inline-block;
  margin: 0.05rem;
}

.menu a {
  color: #FFF;
  font-size: 0.75rem;
}

#banner {
  width: 80%;
}

form {
  width: 80%;
}

.main {
  display: flex;
  width: 80%;
  margin-bottom: 0.25rem;
}

.main p {
  text-align: justify;
}

.left-col {
  background: #EEE;
  width: 60%;
  font-size: 0.75rem;
}

.right-col {
  background: #CCC;
  width: 40%;
  font-size: 0.75rem;
}

@media (max-width: 767px) {
  .right-col {
    display: none;
  }

  .left-col {
    width: 100%;
  }

  .menu {
    display: block;
    margin: 0.05rem;
  }
}

.main hr {
  color: #FFFFFF;
  align: left;
  margin-left: 0rem;
}
