html * {
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1rem;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  width: 9.375rem;
}

#hdr {
  display: inline-block;
  text-align: center;
  width: 50%;
  font-size: 1.5rem;
}

nav {
  background: #000;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
  padding: 0.05rem;
}

.menu {
  display: inline-block;
  margin: 0.05rem;
}

.menu a {
  color: #FFF;
  font-size: 0.75rem;
}

#banner {
  width: 100%;
}

#table-xscroll {
  overflow-x: auto;
}

table {
  width: 100%;
  text-align: left;
  font-size: 1rem;
}

.main {
  display: flex;
  margin-bottom: 0.25rem;
}

.main p {
  text-align: justify;
}

.left-col {
  background: #EEE;
  width: 60%;
  font-size: 0.75rem;
}

.right-col {
  background: #CCC;
  width: 40%;
  font-size: 0.75rem;
}

.contact {
  box-sizing: border-box;
}

fieldset {
  border-radius: 4px;
}

label {
  display: inline-block;
  padding: 12px 12px 12px 0;
}

input[type=text], input[type=date], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea {
  vertical-align: top;
}

.genre label, .genre input {
  width: 3rem;
}

.btn-container {
  text-align: center;
}

.btn {
  display: inline-block;
  width: 100px;
}

@media (max-width: 767px) {
  .right-col {
    display: none;
  }

  .left-col {
    width: 100%;
  }

  .menu {
    display: block;
    margin: 0.05rem;
  }

  label {
    display: block;
    margin-top: 4px;
  }

  input {
    margin-bottom: 4px;
  }
}

.main hr {
  color: #FFFFFF;
  margin-left: 0rem;
}
