html * {
  font-family: "Times New Roman", Times, serif;
}

html, body {
  height: 100%;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 16px;
}

#logo {
  display: inline-block;
  vertical-align: middle;
  width: 15%;
}

#hdr {
  display: inline-block;
  text-align: center;
  width: 55%;
  font-size: 24px;
}

nav {
  background: #000;
  margin-top: 4px;
  margin-bottom: 4px;
  width: 80%;
}

.menu {
  display: inline-block;
  margin: 4px;
  padding: 10px 20px 10px 20px;
}

.menu a {
  color: #FFF;
  font-size: 12px;
}

#banner {
  width: 80%;
}

form {
  width: 80%;
}

.main {
  display: flex;
  width: 80%;
  margin-bottom: 4px;
}

.main p {
  text-align: justify;
}

.left-col {
  background: #EEE;
  width: 60%;
  font-size: 12px;
}

.right-col {
  background: #CCC;
  width: 40%;
  font-size: 14px;
}

.main hr {
  color: #FFFFFF;
  align: left;
  margin-left: 0px;
}
